[submodule "themes/hugo-ink"]
	path = themes/hugo-ink
	url = https://github.com/knadh/hugo-ink.git
[submodule "public"]
	path = public
	url = https://github.com/mjlile/mjlile.github.io.git
	branch = master
[submodule "themes/ink-free"]
	path = themes/ink-free
	url = https://github.com/chollinger93/ink-free
